xx*
anotherfile
audio.mp3
extract.mp4
knots2.mp3
knots2.ogg
knots2.wav
linuxfile.txt
movie.mp4
myarchive.tar.gz
myhardlink
mysoftlink
myvideo.mov
newfile
newfile2
newfile3
original_who
outfile
thumb.jpg
Xa*
